body { margin:0;
	font-family:"Microsoft Yahei";
	font-size:14px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	background:#788088 url(img/bg.gif) left top repeat-y;
 }
h1,h2,h3,h4,h5,h6,ul,dl,ol,p,table,td,tr,form,fieldset,input,textarea,a,select { padding:0; margin:0; font-size:14px; }
h1,h2,h3,h4,h5,h6 {font-weight:normal;}
li{list-style-type:none;}
img { border:none; vertical-align:top;}
.en { font-family:Tahoma, Arial, Helvetica, sans-serif;}
a {text-decoration:none; color:#222;}
a:focus { outline:0;}
:focus {  -moz-outline-style:none;}
a:active { color:#333;}
.red { color:red;}
.fl { float:left; }
.fr { float:right; }
.ah { height:1%; overflow:auto;}
.cr { clear:both; height:8px; font-size:1px;}
.cr2 { clear:both; height:2px; font-size:1px;}
.cr8 {  height:8px; font-size:1px;}
#mleft { float:left; width:212px; }
#mright { }
#mleft h1 { width:195px; height:114px; text-indent:-1000px; line-height:0; font-size:0; background:url(img/logo.png);}
#mleft h3 { padding-left:10px; color:#CCC;}
#mleft h3 a { margin:0 3px; font-size:12px; color:white; text-decoration:underline;}
#mleft h3 a:hover { text-decoration:none; color:yellow;}
#l-box { padding:10px;}
.l-box p { margin:5px 0; width:188px; height:31px; line-height:31px; cursor:pointer; color:white; font-size:15px; font-weight:bold; border:solid #456482 1px; border-width:1px 0 1px 1px; background:#305d86 url(img/bg-li.png) right top no-repeat; }
.l-box p img { margin:0 5px;}
.l-box ul { padding:0 10px; display:none;}
.l-box ul li { padding-left:10px; height:22px; line-height:22px; background:url(img/link.gif) left center no-repeat;}
.l-box ul li a { color:#EEE; font-size:14px;}
.l-box ul li a:hover { padding-left:5px; color:white; text-decoration:underline;}
.l-box { margin:5px 0;}
#snav { padding-top:5px; padding-left:232px; background:black; height:30px; line-height:30px; background:url(img/cc.gif) 212px 13px no-repeat; color:#FC0;}
#snav a { display:inline-block; height:22px; line-height:22px; padding:0 10px 0 30px; margin-left:5px; background-color:#72787f; background-image:url(img/ico4.gif); background-repeat:no-repeat; border:solid #676f78 1px; color:#FFF;}
#snav a:hover { color:#CCC;}
#snav a img { margin-right:3px; }
.snav0 { background-position:4px -88px;}
.snav1 { background-position:4px top;}
.snav2 { background-position:4px -22px;}
.snav3 { background-position:4px -44px;}
.snav4 { background-position:4px -65px;}
.snav5 { background-position:4px -110px;}
#snav span { margin-right:8px; color:#333;}
.sc1 { color:#369;}
#mbody { padding-left:232px; }
.in { padding:8px; margin:8px 0 0 0; border:dotted #C6C6C6 1px; border-width:1px 0 1px 1px; background:#F7F7F7 url(img/bg.png) right top no-repeat; color:#222;}
#footer p { color:#444; font-size:12px;}
#footer { border-top:solid #5f6973 2px; padding:10px 0;}

.tabs { width:100%; padding:0; margin:0; border:solid #456482 1px; border-width:1px 1px 0 0;}
.tabv {  padding:0; margin:0; border:solid #C6C6C6 1px;background:white; }
.tabv td { padding:6px;  }
.tabs td { padding:3px; border:solid #456482 1px; border-width:0 0 1px 1px; }
.tabs td, .tabs th { text-align:center;}
.tb-title { text-indent:10px; background:#305d86 url(img/bg-li.png) right top no-repeat; color:white; font-weight:bold; }
.tb-sub { background:#e2edf8; color:#369; }
#setp ul li { display:inline-block; margin-right:10px;}
#setp { padding:5px; background:#FFC url(img/ct.gif) right top no-repeat; border:solid #CC6 1px;}
#setp1 { padding:5px 5px 5px 40px; background:#FFC url(img/ico-list.gif) 5px center no-repeat; border:solid #CC6 1px;}
#setp ul { margin:5px 0; padding-left:20px;}
#setp p { color:red; font-size:16px; font-weight:bold;}
.setp-t { padding:2px 6px; background:white; border:solid #CCC 1px; color:#369;}
.ico img { margin-right:6px; float:left;}
.ico { line-height:30px;}
.btn1 { margin-right:5px; height:26px; width:90px; background:white url(img/bg-btn.gif) left top no-repeat; border:solid #CCC 1px; font-size:12px; font-weight:bold;  cursor:pointer;}
.btn2 { margin-right:5px; height:26px; width:90px; background:white url(img/bg-btn.gif) left top no-repeat; border:solid #CCC 1px; font-size:12px; font-weight:bold;  cursor:pointer; color:#333;}

.green { color:green;}
.blue { color:#369;}
#tab-d div { display:none; padding:10px;}
#tab-d div ul,#tbst div ul, .overlay ul { margin:8px 0; }
#tab-d div ul li,#tbst div ul li, .overlay ul li { display:inline-block;}
#tab-d { background:#e2edf8; text-align:left;}
.tabd1 { width:120px; text-align:right;}
.tabd2 { margin-left:8px; color:#369; font-size:12px;}

#list-m {}
#list-m td { text-align:center; background:white;}
#list-mt, .tabs th { height:31px; line-height:31px; background:#305d86 url(img/bg-li.png) right top no-repeat; color:white; }
#list-m td a { color:#369; text-decoration:underline;}
#list-m td a:hover { color:#333; text-decoration:none;}
.snv { font-weight:bold; color:red; letter-spacing:4px; font-size:15px;}
.tabs td a { margin:0 5px; color:#369; text-decoration:underline;}
.tabs td a:hover { text-decoration:none; color:#333;}
#fpage { padding:5px 0; text-align:right; color:#555;}
#tbst div { display:none;}
#search2 { display:none;}

.overlay { border:solid #CCC 8px; padding:10px; background:white; background-image:none; max-height:600px; width:900px; text-align:left;}
.overlay { display:none;}
.overlay .close {
	background:url(img/close.gif);
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:15px;
	width:15px;
}
button { color:#333; font-weight:bold;}
.del { padding-left:20px; background:url(img/del.png) left center no-repeat;}
#tbstj div { display:none;}
.panet { display:none;  }
.panet td { text-align:left;}
.pp2 td { text-align:left;}
.pp2 { display:none; }
.pp1 { cursor:pointer; }
.pp2 ul li { margin:5px; display:inline-block; width:250px;}
.pp2 ul li span { padding:0 8px; border:solid #CCC 1px; background:white; color:#369;}
#face { float:left; margin-right:10px; padding:5px; width:110px; height:100px; border:solid #CCC 1px;}
.cl1 { background:#edf6f8;}
#mygp dl { padding:10px; margin-bottom:20px; border:solid #C6C6C6 1px; background:white;}
#mygp dl dd { padding-left:20px; margin:5px 20px; color:#666; height:26px; line-height:26px; background:url(img/dots.gif) left center no-repeat;}
#mygp dl input { margin:0 5px;}
.nums { width:20px; height:16px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; color:#666; border:solid #97b6c3 1px; background:#ebf8ff; color:#369; text-align:center; }

.tabps span { margin:2px 0 0 3px;  width:7px; height:16px; background-image:url(img/updonw.gif); background-repeat:no-repeat;}
.tabps { cursor:pointer;}
.tabcc { display:inline-block;}
.tabcc1 { display:inline-block; background-position:left bottom;}

#gezi { width:600px;}
#gezi li a { text-align:center; line-height:80px; font-size:12px; margin:4px; display:block; float:left; width:150px; height:80px;}
#gezi li a.cc { border:solid #CCC 1px; }
#gezi li a.dd { border:solid #EEE 1px; color:orange;}
#dx1 { background:url(img/dx1.gif) right top no-repeat;}
#dx2 { background:url(img/dx2.gif) right top no-repeat;}
#dx3 { background:url(img/dx3.gif) right top no-repeat;}
#dx4 { background:url(img/dx4.gif) right top no-repeat;}
#dx5 { background:url(img/dx5.gif) right top no-repeat;}
#dx6 { background:url(img/dx6.gif) right top no-repeat;}
#dx7 { background:url(img/dx7.gif) right top no-repeat;}
#dx8 { background:url(img/dx8.gif) right top no-repeat;}
#dx9 { background:url(img/dx9.gif) right top no-repeat;}
#dx10 { background:url(img/dx10.gif) right top no-repeat;}
#dx11 { background:url(img/dx11.gif) right top no-repeat;}
#dx12 { background:url(img/dx12.gif) right top no-repeat;}
#dx13 { background:url(img/dx13.gif) right top no-repeat;}
#dx14 { background:url(img/dx14.gif) right top no-repeat;}
#dx15 { background:url(img/dx15.gif) right top no-repeat;}


#model { float:left; width:340px;overflow:hidden;}
#boxm { padding:5px; background:#f1ffd9; border:solid #daebc4 1px; height:1%; overflow:hidden;}
#model li a { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#339039;
display:block; padding-top:6px; width:100px; height:54px; line-height:22px; background-image:url(img/model-ico.gif); background-repeat:none;
}
#model li  { float:left; margin:5px 0; padding:0; text-align:center;}
#model li a span,#model li a label { display:block;  font-size:"ו"; font-size:12px; }
#model li a span { color:#555;}
#model li a label { color:red;}
#model li a { text-decoration:none;}


ul#model a.current, ul#model a.current:hover, ul#model li.current a {
	background-position:left bottom;
	cursor:default !important; 
	color:white !important;
}
#model a.current span { color:white;}
#model a.current label { color:yellow;}
#boxm-tools { padding:0 10px; margin-bottom:5px; background:white; border-bottom:solid #daebc4 1px; height:30px; line-height:30px; color:#339039;}
#boxm-tools select { margin-right:20px; color:#555; font-size:12px;}
.models-title { margin-bottom:2px; height:30px; line-height:30px; text-align:left;}
.models-title span { float:right; color:green;}
.models-title label { margin-right:20px; color:#339039;}
.models-title a { padding:1px 6px; background:white; color:#339039; border:solid #daebc4 1px; }
.models-title a:hover { background:#f1ffd9; }
.models { display:none;}
.mdtab { border:solid #daebc4 1px; border-width:1px 1px 0 0;}
.mdtab td, .mdtab th {  border:solid #daebc4 1px; border-width:0 0 1px 1px;}
.mdtab td a { color:#339039; text-decoration:underline;}
.mdtab td a:hover { color:#333; text-decoration:none;}
.mdtab td { padding:4px 8px;  background:white;}
.mdtab th { padding:0 8px; color:#339039; height:30px; background:none; line-height:30px;}
.mds { display:none;}

#minit { display:inline-block; padding-left:10px; height:30px; line-height:28px; color:#888; letter-spacing:1px; background:url(img/minit1.gif) left top no-repeat;}
#minit button.mi1 { background:url(img/minit2.gif) left top no-repeat;}
#minit button.mi2 { background:url(img/minit3.gif) left top no-repeat;}

#minit button {  margin-left:10px; float:right; display:block; width:32px; height:30px; border:0; cursor:pointer;}

#minitm a { display:block; padding:0 5px; height:25px; line-height:25px; color:#666;}
#minitm a:hover { background:#369; color:white;}
#minitm { margin-top:3px; position:absolute; padding:4px; display:none; background:white; border:solid #CCC 1px;
filter:alpha(opacity=90);
-moz-opacity:0.9;
opacity:0.9;
}
#minit span a { color:#369;}
#minip div { display:none;}
.minic { margin-left:8px; color:red;}
.mdsc { cursor:pointer;}